@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

.content {
    margin-top: 2rem;
    margin-bottom: 60rem;
}

#title {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

.chart {
    margin: 3rem auto;
    width: 100%;
}

.major {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 7rem auto;
    text-align: center;
}

.major-loader {
    margin-top: 5rem;
}

#add-major {
    width: 95%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

#major-fields {
    width: 100%;
}

#label-major {
    font-size: 1rem;
}

#input-major {
    width: 95%;
    font-size: 1rem;
    margin-top: 0.3rem;
}

#add-major-button {
    margin: 1.5rem auto;
    width: 50%;
    font-size: 1.3rem;
    border: none;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(70, 250, 124);
    color: white;
    font-weight: 700;
}

.add-field {
    background-color: aqua;
    margin: 1.5rem auto;
}

#topic-label {
    font-size: 1rem;
}

#major-label {
    font-size: 1rem;
}

#add-topic-headline {
    font-size: 2rem;
}

#topic-field {
    width: 95%;
    margin: 1rem auto;
}


#input-topic {
    width: 90%;
    font-size: 1.1rem;
}


#add-topic-button {
    margin: 1.5rem auto 1.5rem 30%;
    width: 40%;
    font-size: 1rem;
    border: none;
    border-radius: 5rem;
    padding: 0.3rem 0.5rem;
    background-color: rgb(70, 250, 124);
    color: white;
    font-weight: 700;
}



@media(min-width: 700px) {
    #title {
        margin-top: 5rem;
        font-size: 3.2rem;
    }

    .chart {
        width: 60%;
        margin: 5rem auto;
    }

    .major {
        margin: 10rem auto;
        font-size: 2.5rem;
    }

    .major-loader {
        margin-top: 7rem;
    }

    #add-major {
        width: 60%;
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #label-major {
        font-size: 1.3rem;
    }

    #input-major {
        width: 70%;
        font-size: 1.3rem;
        margin-left: 3rem;
    }

    #add-major-button {
        width: 20%;
    }

    #topic-div {
        display: flex;
        justify-content: center;
    }

    .add-topic {
        margin: 7rem auto;
        text-align: center;
        width: 60%;
    }

    #topic-field {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #input-topic {
        margin-top: 0.3rem;
        font-size: 1.2rem;
        padding: 0.2rem 0.5rem;
    }

    #add-topic-button {
        width: 15rem;
        font-size: 1.3rem;
        margin: 1.5rem auto;
    }

}