@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

.content {
    margin-top: 2rem;
}

#title {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

.chart {
    margin: 3rem auto;
    width: 100%;
}

.major {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 7rem auto;
    text-align: center;
}

#logout {
    margin-top: 10rem;
    margin-left: 2rem;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    background-image: linear-gradient(to right, #fc6464 0%, #f83232 51%, #f71111 100%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media(min-width: 700px) {
    #title {
        margin-top: 5rem;
        font-size: 3.2rem;
    }

    .chart {
        width: 60%;
        margin: 5rem auto;
    }

    .major {
        margin: 10rem auto;
        font-size: 2.5rem;
    }
}