.new-exchange-wrapper {
    width: 95%;
    margin: 1rem auto 40rem auto;
}

.new-exchange-title {
    text-align: center;
    font-size: 0.9rem;
    margin: 1rem auto 4rem auto;
}

.new-exchange-label {
    font-size: 0.9rem;
}

.exchange-input {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}

.new-exchange-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.exchange-date {
    width: 95%;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}

.offer-exchange-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: max-content;
    margin: 1rem auto 0 auto;
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: 700;
    border-radius: 5rem;
}