.footer {
    background-color: #222831;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 5rem;
}

#company {
    margin: 1rem auto;
    font-size: 1.2rem;
}

#rights {
    font-size: 2rem;
}