.post {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 1rem;
    margin: 5rem auto;
}

.post-details {
    width: max-content;
    background-color: white;
    border: none;
    text-decoration: underline;
    margin: 0 0 0 auto;
}

.topic-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.ul-class {
    margin: 0;
    padding: 0;
}
.li-class {
    margin: 0.2rem auto 0 0;
    width: max-content;
    font-style: italic;
    list-style: none;
    margin-left: 1rem;
    background-color: gray;
    padding: 0.3rem 0.5rem;
    border-radius: 5rem;
    font-weight: 700;
    color: white;
}


.post-header {
    font-size: 0.9rem;
}

.post-title {
    margin: 0 1rem;
    font-size: 1.2rem;
}

.post-body {
    margin-top: 3rem;
}

.post-footer {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-button {
    font-size: 1rem;
    border: none;
    padding: 0.3rem 1rem;
    font-weight: 700;
    color: white;
    background-color: royalblue;
    border-radius: 5rem;
}

.rate-button {
    font-size: 1rem;
    border: none;
    padding: 0.3rem 1rem;
    font-weight: 700;
    color: white;
    background-color: royalblue;
    border-radius: 5rem;
}

.current-rate {
    font-size: 0.9rem;
    font-style: italic;
}

.hide {
    display: none;
}

.post-link {
    text-decoration: none;
    color: black;
}

@media (min-width: 700px) {
    .post {
        padding: 1rem 3rem;
    }
    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
    }

    .post-title {
        font-size: 1.5rem;
        margin: 0 auto;
        text-align: center;
    }

    .post-body {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .post-footer {
        margin-top: 3rem;
    }

    .comment-button {
        color: royalblue;
        background-color: white;
        border-radius: 5rem;
        cursor: pointer;
        text-decoration: underline;
    }
    
    .rate-button {
        color: royalblue;
        background-color: white;
        border-radius: 5rem;
        cursor: pointer;
    }


    .topic-wrapper {
        margin: 1rem 0 0 0;
        width: max-content;
        display: flex;
        align-items: center;
    }


    .ul-class {
        display: flex;
        padding: 0;
    }

    .li-class {
        font-style: italic;
        list-style: none;
        margin-left: 1rem;
        background-color: gray;
        padding: 0.3rem 0.5rem;
        border-radius: 5rem;
        font-weight: 700;
        color: white;
    }
}