#university-section {
    width: 100%;
    margin: 1rem auto 45rem 0rem;
    text-align: center;
}

#title {
    font-size: 2rem;
}

.form-group {
    width: 90%;
    text-align: left;
    margin: 1rem 0.5rem;
}

.uni-label {
    display: block;
}

.uni-input {
    margin-top: 0.3rem;
    width: 100%;
}

.basic-single {
    margin-top: 0.3rem;
}

#btn-div {
    align-items: flex-end;
}

#add-university {
    margin: 1rem auto;
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    border: none;
    color: white;
    font-weight: 700;
    background-color: rgb(70, 250, 124);
    cursor: pointer;
    border-radius: 3rem;
    text-shadow: 1px 1px rgb(253, 133, 133);
}

#image-select {
    border: none;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0rem;
}

#img-preview-div {
    padding: 1rem;
}

#img-preview {
    border: 5px solid rgb(0, 80, 24);
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}


.university-svg {
    display: none;
}

@media (min-width: 700px) {

    .university-svg {
        display: block;
        height: 30rem;
    }

    #university-section {
        width: 100%;
        margin: 1rem auto 45rem auto;
        text-align: center;
    }

    #university-form {
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .left-section {
        width: 40%;
    }

    .right-section {
        width: 40%;
    }

    .uni-label {
        font-size: 1rem;
    }

    .uni-input {
        font-size: 1.2rem;
    }


    #add-university {
        margin: 5rem auto 3rem auto;
        font-size: 1.5rem;
    }

    #img-preview {
        height: 20rem;
        width: 20rem;
    }

}